// Add your own CSS here!

:root {
  --light: #e8e9ec;
  --dark: #33374c;
  --secondary: #2d539e;
  --tertiary: #adb1c4;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #282a36 !important;
  --dark: #f8f8f2 !important;
  --secondary: #bd93f9 !important;
  --visited: #91d8f4 !important;
  --tertiary: #6272a4 !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}

